Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/Levels/Progression_Level_BuiltData.uasset
Content/Levels/Crypt_level_BuiltData.uasset
Content/Levels/Cinematic_Level_BuiltData.uasset
